# Пример для ПРОДА. Скопируй на сервер как livekit.yaml и подставь свои ключи.
port: 7880
log_level: info

rtc:
  tcp_port: 7881
  port_range_start: 50000
  port_range_end: 60000
  use_external_ip: true

keys:
  lk_969512bce6a80fb0: "iT0CiEFym3bs91A0yr//fXlfhqNJ0miOLK5ppa1b2yO5DHjduYfWD0bbT68kGAxd"
